 
 /*I want the font info to be the default for everything, unless overridden at a lower level*/

 * {
      color:#777777;
      text-decoration: none;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
 
#gifrow {
   padding-top:40px;
}

.container {
   background-color:  rgb(231, 231, 167);
   /*margin-top: 20px;*/
   padding-top:20px;
   height: 100%;
   width:100%;
}

.card {
   background-color:  rgb(231, 231, 167);
   border:none;
}

.card-title {
   padding:0;
   color:black;
}

.btn-info {
   margin:10px;
}
 